.booked-container{
   display: flex;
   flex-direction: row;
   /* background-color: red; */
   flex-wrap: wrap;
   /* height: 100vh; */
   justify-content: center;
   color:white;
}
.booked-container-item{
   margin: 10px;
   padding: 40px 60px;
   width:350px;
   background-color: #1890FF;
   box-shadow: 2px  14px 14px rgba(134, 175, 191, 0.5);
   border-radius: 10px;
   border: none;
}
.booked-container-item div{
   padding: 10px;
}

.slotbook-container{
   display: flex;
   height: 90vh;
   /* background-color: red; */
   justify-content: center;
   align-items: center;
   
}
.slotbook-container-item{
   padding: 20px;
   background-color:inherit;
   width: 300px;
   border-radius: 10px;
   box-shadow: 1px 2px  14px 14px rgba(134, 175, 191, 0.5);
}
.label{
   font-size: 20px;
   margin: 10px 0px;
}
.slotbook-container-item div{
   margin: 10px;
   /* padding: 10px; */
}
.input{
   width: 100%;
}
.btn-login-book{
   /* text-align: center; */
   width: 100%;
   padding: 10px;
}